[submodule "janitor"]
	path = janitor
	url = https://github.com/eduardocerqueira/janitor.git
[submodule "notes"]
	path = notes
	url = https://github.com/eduardocerqueira/notes.git
[submodule "project/mypublicip"]
	path = project/mypublicip
	url = https://github.com/eduardocerqueira/mypublicip.git
